#foot{
    display:flex;
    justify-content: center;
    height:85px;
    background-color:aqua; 
    background-image: linear-gradient(315deg,rgb(14, 230, 219) 0%,#4184e7 74%);
    text-align:center;
    width:100%;
    bottom:0;
    left:0;
    position:absolute;
}
#foot a{
    text-decoration: none;
    color:#1e557d;
   
}
#foot a:hover{
    color:white;
}


